* {
  box-sizing: border-box;
}

body {
  @include container(100%);
}

.wrapper {
  @include container(75%);
}

.background {
  @include span(12);
  background: linear-gradient(
                  rgba(78, 93, 113, 0.9),
                  rgba(78, 93, 113, 0.9)),
  url("../../images/hero-bg.jpg") no-repeat;
  background-size: cover;
}