@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url(../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  src: url(../../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: RobotoSlab;
  font-weight: normal;
  src: url(../../fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}