.hero {
  @include span(12);
  min-height: 200px;
  height: 690px;
  &-left {
    @include span(7);
    position: relative;
    .left-header {
      padding: 120px 0 20px 0;
      font: normal 51px RobotoSlab, Serif;
      color: #fff;
    }
    .left-text {
      padding-bottom: 60px;
      font: normal 26px/1.5 Roboto, sans-serif;
      color: #c5d2e5;
    }
    .left-btn {
      width: 265px;
      height: 78px;
      text-decoration: none;
      color: #fff;
      background: #67bf95;
      font: normal 36px/78px Roboto, sans-serif;
    }
  }
  &-right {
    @include span(4 at 9);
    .right-img {
      padding-top: 170px;
      width: 305px;
    }
  }
}