$height: 47px;
$color: #efefef;
$iconBaseColor: #67bf95;
$iconOverlayColor: #57b287;

.logo {
  top: 50%;
  margin-top: -23px;
  display: inline-block;
  height: $height;
  position: relative;
  font-size: 41px;
  padding-left: $height + 20;
  line-height: $height;
  color: $color;
  text-decoration: none;
  transition: color .3s;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: $height/2 solid $iconBaseColor;
    border-radius: 50%;
    transition: color .3s;
  }

  &:focus,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus,
  &:hover {
    color: lighten($color, 15%);

    &:before {
      border-color: darken($iconBaseColor, 15%);
    }

    &:after {
      border-left-color: darken($iconOverlayColor, 15%);
      border-bottom-color: darken($iconOverlayColor, 15%);
    }
  }

  &:active {
    color: darken($color, 15%);

    &:before {
      border-color: darken($iconBaseColor, 25%);
    }

    &:after {
      border-left-color: darken($iconOverlayColor, 25%);
      border-bottom-color: darken($iconOverlayColor, 25%);
    }
  }

  &:after {
    border-color: $iconOverlayColor;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
  }
}